
.container_navextra{
    left: 250px;
    position:absolute

}
.container_navextra2{
    left: 70px;
    position: absolute;

}
.container_navextra3 {
    left:0px;
    position: absolute;
}

.sidesidebar{
    height: 100%;
    position: fixed;
    width: 250px;
    background:var(--vz-vertical-menu-bg-dark);
    padding: 0 2rem;
    z-index: 999;
    min-width: 250px;
 
}
.sidesidebar2{
    height: 100%;
    position: fixed;
    width: 250px;
    background:var(--vz-vertical-menu-bg-dark);
    padding: 0 2rem;
    z-index: 999;
    min-width: 250px;
   
}

.btn-position{
    position: fixed;
    z-index: 2000;
}

.bull-red_1_inactif{
    width: 10px;
    height: 10px;
    background:var(--vz-vertical-menu-bg-dark);
    border-radius: 100%;
    right: 5px;
    text-align: center;
    top: 93px;
}
.bull-red_1_actif{
    background:var(--vz-vertical-menu-bg-dark);
    border-radius: 100%;
    text-align: center;
    top: 93px;
    left: 244px;
}
.inactif_customcss{
   opacity: 0;
   left: 0px; 
   width: 0px;
   height: 0px;
}

.icon{
    color: white;
   
}

.searchNav{
    margin-top: 90px;
}
.test {
    color:red;
}
.test2 {
    color:rgb(65, 67, 167);
}
.test3{
    color:black
}

.icemsamevating{
    margin-top: 10px;
}
.bodycss{
    width: 100%;
}
/* .btn{
    cursor: pointer;
} */
/* button {
    cursor: pointer;
} */
@media screen and (max-width: 480px){
    .bodycss{
        width: 100%;
    }
}


